<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>PDP Airline delay predicting App</title>
  
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body
 
    <div class="container">
         <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">PDP Aireline Delay Predicting Application</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Airline delay Application</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>It's free!</h4>
                <p>When you find your flights and click to book, we link you through directly to the airline or travel agent. No hidden charges, no added fees. So you get the best deals every time!</p>
 
                <h4>100 % Transparency</h4>
                <p>Works worldwide, but a few routes will yield more compensation than others</p>
 
                <h4>Little more about PDP</h4>
                <p>People use PDP as their free service to predict airline delays</p>

                {% if uniqC %}
                <p class="message"><strong>Message:</strong> {{ uniqC }} </p>
                {% endif %}

                {% if origin %}
                <p class="origin"><strong>Origin:</strong> {{ origin }} </p>
                {% endif %}

                {% if dest %}
                <p class="dest"><strong>Origin:</strong> {{ dest }} </p>
                {% endif %}
            </div>
 
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2018</p>
        </footer>
 
    </div>
</body>
 
</html>