<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Predict Airline delay App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">-->
        <!-- Custom styles for this template -->
    <!-- <link href="jumbotron-narrow.css" rel="stylesheet">-->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="/static/css/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">

        <div class="header">
            <h3 class="text-muted">PDP Aireline Delay Predicting Application</h3>
        </div>
 
      <div style="left:80px; top:-55px;">
        <form action='/predict' class="form-signin" method="POST">
        <table>
            <tr>
            </tr>
            <tr>
            <td> Select Origin:   </td>
            <td><select name="origin">
            {% for row in origin %}
                <option value={{row[1]}}>{{row[0]}}</option>
            {% endfor %}
            <!--<option value="AUS">Austin Bergstrom Intl</option>
            <option value="BWI">Baltimore Washington Intl</option>
            <option value="CLT">Charlotte Douglas Intl</option>-->

            </select>
            </td>
            <tr>
            <td>
            Select Destination:   </td>
            <td><select name="dest">
            {% for row in dest %}
                <option value={{row[1]}}>{{row[0]}}</option>
            {% endfor %}
            <!--<option value="AUS">Austin Bergstrom Intl</option>
            <option value="BWI">Baltimore Washington Intl</option>
            -->

            </select></td></tr></table>
            </p>
            <hr>
            <p>
            <input type="checkbox" name="check_delay"> Predict Flight Delay </p>

            <p> Select Airline :   
            <select name="unique_carrier">
            {% for row in uniqC %}
                <option value={{row[1]}}>{{row[0]}}</option>
            {% endfor %}
            <!--<option value="FL">AirTran Airways Corporation</option>
            <option value="AS">Alaska Airlines </option>
            <option value="AA">American Airlines </option>
            <option value="DL">Delta Air Lines </option>
            <option value="9E">Endeavor Air </option> -->

            </select>
            </p>

            <p>Date of Travel (YYYY-MM-DD):</p>
            <p>Year</p> <input type="number" name="year"/>
            <p>Month</p> <input type="number" name="month"/>
            <p>Day</p> <input type="number" name="day"/>
            <p>Day</p> <input type="number" name="dayofweek"/>


        <!--<script>
        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("dt")[0].setAttribute('value', today);
        </script>-->

        <p> Select Departure HOUR:   
        <select name="dep_hour">
            <option value=0>00:00</option>
            <option value=1>01:00</option>
            <option value=2>02:00</option>
            <option value=3>03:00</option>
            <option value=4>04:00</option>
            <option value=5>05:00</option>
            <option value=6>06:00</option>
            <option value=7>07:00</option>
            <option value=8>08:00</option>
            <option value=9>09:00</option>
            <option value=10 selected>10:00</option>
            <option value=11>11:00</option>
            
        </select>
        </p>

    <p> Select Arrival HOUR:
    <select name="arr_hour">
        <option value=0>00:00</option>
        <option value=1>01:00</option>
        <option value=2>02:00</option>
        <option value=13 selected>13:00</option>
        <option value=14>14:00</option>
   
    </select>
    </p>


     <p> <input type ="submit" value="submit" /> </p>
    </form>
      </div>       
 
      <footer class="footer">
        <p>&copy; Company 2018</p>
      </footer>
 
    </div>
  </body>
</html>